.movieDescription {
    display: flex;
    gap: 20px;
    .shortInfoList {
        display: flex;
        flex-direction: column;
        gap: 5px;
        li {
            &:last-child {
                margin-top: 10px;
            }
        }
    }
}
